:root {
  --blue: rgb(0, 200, 255);
  --green: rgb(50, 200, 50);
  --yellow: rgb(255, 255, 0);
  --red: rgb(255, 100, 75);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Slides */
.slide {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 100vw;
  padding: 1rem;
  border-top: 5px solid rgb(30, 175, 150);
}

/* Title slide (first slide) */
#title-slide {
  height: 90vh;
  justify-content: center;
  border-top: none;
}

/* Center title */
.title {
  align-self: center;
  font-size: 5rem;
  color: var(--yellow);
  font-family: "Reem Kufi", sans-serif;
}

/* Blue background */
.blue-back {
  background: var(--blue);
}

/* Green background */
.green-back {
  background: var(--green);
}

/* Top heading */
.heading {
  position: relative;
  text-align: center;
  font-size: 4rem;
  font-family: "Reem Kufi", sans-serif;
}

/* Green background heading */
.green-back > .heading {
  color: white;
}

/* Blue background heading */
.blue-back > .heading {
  color: var(--yellow);
}

/* Anything with the font of gunn peeps */
.peeps-font {
  font-family: "Bungee", cursive;
  color: white;
}
