/* Meetup card container */
#card-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
}

/* Meetup cards */
.meetup-card {
  display: flex;

  min-height: 30vh;
  width: 100%;
  margin-top: 1rem;

  background: var(--red);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Card title and card date and time container */
.title-time-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  min-height: 100%;
  width: 50%;

  background: rgba(0, 0, 0, 0.2);
  color: white;
}

/* Meetup card titles */
.card-title {
  padding: 0.5rem;

  font-size: 3rem;
  font-family: "Varela Round", sans-serif;
}

/* Card date and time */
.card-date-time {
  font-size: 1.5rem;
  font-family: monospace;
}

/* Meetup cards info on right side */
.card-info-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 1rem;
  min-height: 100%;
  width: 50%;

  color: white;
}

/* Meetup card info headings */
.card-subheading {
  font-size: 2.5rem;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 1rem;
}

/* Meetup card schedule */
.card-schedule-container {
  padding-bottom: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* Container for people attending and subheading */
.card-people-container {
  padding-top: 1.5rem;
}

/* Meetup card schedule periods */
.schedule-periods {
  display: flex;
}

/* Meetup cards' times and activities divs in schedule */
.period-times,
.period-activities {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  padding: 0 0.75rem;
}

/* Meetup cards' times div in schedule */
.period-times {
  align-items: flex-end;

  border-right: 2px solid white;
  font-family: monospace;
  font-size: 15pt;
  font-size-adjust: 1;
}

/* Meetup cards' activities div in schedule */
.period-activities {
  align-items: flex-start;

  font-family: sans-serif;
  font-size: 15pt;
  font-size-adjust: 1;
}

/* Meetup cards' schedule activity */
.period-time {
  padding: 2pt 0;
}

/* Meetup cards' schedule time */
.period-activity {
  padding: 2pt 0;
}

/* People attending meetup */
.card-people {
}
