input {
  outline: none;
  background: none;
  border: none;
  text-align: center;
}

/* Meetup card container */
#card-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
}

/* Meetup cards */
.meetup-card {
  display: flex;

  min-height: 30vh;
  width: 100%;
  margin-top: 1rem;

  background: var(--red);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* Card title and card date and time container */
.title-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  min-height: 100%;
  width: 50%;

  background: rgba(0, 0, 0, 0.2);
  color: white;
}

/* Meetup card titles */
.card-title {
  padding: 0.5rem;

  font-size: 3rem;
  font-family: "Varela Round", sans-serif;
  color: white;
  text-align: center;
}

/* Card date and time */
.card-date {
  color: white;
  font-size: 1.5rem;
  font-family: monospace;
  width: 30%;
  cursor: pointer;
}
.card-date::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  margin-left: -5px;
  cursor: pointer;
}

/* Meetup cards info on right side */
.card-info-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 1rem;
  min-height: 100%;
  width: 50%;

  color: white;
}

/* Meetup card info headings */
.card-subheading {
  font-size: 2.5rem;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 1rem;
}

/* Meetup card schedule */
.card-schedule-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/* Container for people attending and subheading */
.card-people-container {
  padding-top: 1.5rem;
}

/* Meetup card period table */
/* .schedule-periods {
} */

/* Meetup card period row */
/* .schedule-period {
} */

.period-start,
.period-end,
.dash {
  color: white;
  font-size: 15pt;
}
.dash {
  font-family: monospace;
  padding: 0 5px;
}
.period-start,
.period-end {
  cursor: pointer;
}
.period-start::-webkit-calendar-picker-indicator,
.period-end::-webkit-calendar-picker-indicator {
  filter: invert(100%);
  margin: 0 -2px -1px 5px;
  cursor: pointer;
}

.period-activity {
  color: white;
  font-size: 15pt;
  text-align: left;
  padding-left: 1rem;
}

/* People attending meetup */
.card-people {
}

.hide-icon::-webkit-calendar-picker-indicator {
  display: none;
}

#cards-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.5rem;
  font-family: sans-serif;
  font-style: oblique;
  text-shadow: 1px 1px 0 black;
  color: white;
}
