#popup-title {
  position: absolute;
  top: 0;
  padding: 0.5rem;
  font-size: 3rem;
  font-family: "Varela Round", sans-serif;
  color: var(--green);
  background: rgba(0, 0, 0, 0.1);
}

#email-password-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}

#email,
#password {
  font-size: 1.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  margin: 0.5rem 0;
}

#submit-account {
  align-self: flex-start;
  font-family: sans-serif;
  font-size: 1rem;
  background: var(--green);
  color: white;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1.25rem;
  cursor: pointer;
}

.unclickable {
  opacity: 0.6;
  cursor: not-allowed;
}
