<!-- Template for Meetup Cards -->
<div id={{id}} class="meetup-card">
  <div class="title-time-container">
    <input type="text" class="card-title" value={{data.title}}></input>
    <input type="date" class="card-date-time" value={{data.time}}></input>
  </div>

  <div class="card-info-container">

    <div class="card-schedule-container">
      <div class="card-subheading">Schedule</div>
      <table class="schedule-periods">

        {{#data.periods}}
        <tr class="schedule-period">
          <td><input class="period-start" type="time" value={{start}}></td>
          <td class="dash">-</td>
          <td><input class="period-end" type="time" value={{end}}></td>
          <td><input class="period-activity" type="text" value={{activity}}></td>
        </tr>
        {{/data.periods}}

      </table>
    </div>

    <div class="card-people-container">
      <div class="card-subheading">People</div>
    </div>

    <div class="card-details"></div>

  </div>
</div>