<div id={{id}} class="meetup-card">
  <div class="title-time-container">
    <input type="text" class="card-title title" value={{title}}></input>
    <input type="date" class="card-date date" value={{date}}></input>
  </div>

  <div class="card-info-container">

    <div class="card-schedule-container">
      <div class="card-subheading">Schedule</div>
      <table class="schedule-periods">

        {{#each periods}}
        <tr class="schedule-period">
          <td><input class="period-start periods.{{@key}}.start" type="time" value={{this.start}}></td>
          <td class="dash">-</td>
          <td><input class="period-end periods.{{@key}}.end" type="time" value={{this.end}}></td>
          <td><input class="period-activity periods.{{@key}}.activity" type="text" value={{this.activity}}></td>
        </tr>
        {{/each}}

      </table>
    </div>

    <div class="card-people-container">
      <div class="card-subheading">People</div>
    </div>

    <div class="card-details"></div>

  </div>
</div>