<div class="expand-popup">
  <div id="popup-title">{{button}}</div>
  <div id="email-password-container">
    <input type="text" placeholder="Username" id="username" maxlength="15">
    <input type="text" placeholder="Email" id="email">
    <input type="password" placeholder="Password" id="password">
    <div id="submit-account">{{button}}</div>
    <div id="email-error" style="display: none;"></div>
    <div class="or"></div>
    <div class="google-log-in"><span>Log In With Google</span></div>
  </div>
</div>